In [1]:
'hello'

'hello'

In [2]:
"i don't do that"

"i don't do that"

In [3]:
'this is another example'

'this is another example'

rap double quotes if sigle quoating is incl. inside the string

In [4]:
print("Hello")

Hello

This prints out the actual string without quotes

In [6]:
print(" Hello World hai foona")
print(" Hello World hai koona")

 Hello World hai foona
 Hello World hai koona

'
\n also applies in python too..
   c is the mother of programming languages

In [7]:
print(" Hello world \n slow down \n into next line")

 Hello world
 slow down
 into next line

In [8]:
print(" move to next \n line \n after some \t space")

 move to next
 line
 after some 	 space

len() function {  similar to strlen function in c} instantly gives the length of the strings

In [9]:
len('I am')

4

In [10]:
len(" Hello I am Akshay")

18

Gives no. of chrtr incl. spaces

Challenge

In [11]:
#simple challenge poor guys
print("Hello World")

Hello World

In [5]:
mystring = "Hello World"

In [6]:
mystring

'Hello World'

In [7]:
mystring[9]

'l'

In [8]:
mystring[-2]

'l'

In [20]:
mystring = 'abcdefghijkl'

In [21]:
mystring[:]

'abcdefghijkl'

In [22]:
mystring[3:]

'defghijkl'

In [23]:
mystring[:4]

'abcd'

indexing 4 is e, but the stop index is saying up to d not including d

In [24]:
mystring[5:7]

'fg'

In [25]:
mystring[5:3]

''

In [26]:
mystring[5:7:]

'fg'

In [27]:
mystring[5:7:2]

'f'

In [31]:
mystring[5::2]

'fhjl'

The last term indicates "jump" jump =2 means starting from 5 i.e. 'f' then'h' next 'j' last 'l'

Grab efgh from middle of the string

In [32]:
mystring[4:8]

'efgh'

Grab a, c,

In [33]:
mystring[:4:2]

'ac'

In [34]:
mystring[4:10:2]

'egi'

In [35]:
mystring[::2]

'acegik'

Go in jumps of '2'( step size 2)

In [36]:
mystring[::-1]

'lkjihgfedcba'

Kind of trick to simply reverse the string

NEw lecture

In [37]:
name = 'Sam'

In [39]:
#name[0] = 'P'

Running the code will generatre an error
Strings( 'str' ) type does not support item arrangement

In [40]:
#In order to do that

In [41]:
last_letters = name[1:]

In [42]:
last_letters

'am'

grab the last two letters, them concatinate to P to make pam

In [43]:
'P'+ last_letters

'Pam'

This is called string concatination

In [44]:
x = "Hello World"

In [49]:
x = x + " It is beautiful outside!"

In [50]:
x = x + " I cannot wait to loose it"

multiplication of letters possible

In [56]:
letter = 'z'

In [57]:
letter * 10

'zzzzzzzzzz'

Inbuilt functions

In [58]:
x = 'Hello World'

In [59]:
x.upper()

'HELLO WORLD'

In [60]:
x

'Hello World'

In [61]:
x = x.upper()

In [62]:
x

'HELLO WORLD'

In [63]:
x.split()

['HELLO', 'WORLD']

In [64]:
x = 'Hai I am Geeky Renjith Prn'

In [65]:
x.split()

['Hai', 'I', 'am', 'Geeky', 'Renjith', 'Prn']

In [67]:
x.split('i')

['Ha', ' I am Geeky Renj', 'th Prn']

Ohh this fk is case sensitive, 
rembember to put those ''

In [68]:
# so split is used to quickly create lists out from strings

In [69]:
my_name = "Akshay"

In [72]:
print("Hello"+ my_name)

HelloAkshay

In [73]:
print("This is a string {}".format('INSERTED'))

This is a string INSERTED

In [74]:
# using .format() method to insert strings

In [76]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [77]:
# To rearrange the order

In [80]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [81]:
print('The {1} {1} {0}'.format('fox','brown','quick'))

The brown brown fox

In [93]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

Float formatting

In [89]:
result = 22/7

In [90]:
result

3.142857142857143

In [91]:
print("The result was {r}".format(r=result))

The result was 3.142857142857143

In [92]:
print("The result was {r:1.3f}".format(r=result))

The result was 3.143

In [95]:
#Increasing the width

In [96]:
print("The result was {r:10.3f}".format(r=result))

The result was      3.143

In [97]:
# Just adds some whitespace, may be usefull if the variable changes to a large number

The f-string method

In [100]:
name = 'Akshay'

In [101]:
print(" Hello, his name is {}".format(name))

 Hello, his name is Akshay

In [102]:
#in f-strings method

In [103]:
print(f"Hello, his name is {name}")

Hello, his name is Akshay

In [105]:
name = "Sam"
age = 3

In [106]:
print(f"{name} is {age} years old")

Sam is 3 years old

In [108]:
print(" Hello, his name is {n}, and i'm {a} years old".format(n=name, a=age))

 Hello, his name is Sam, and i'm 3 years old