In [1]:
my_dict = {'k1':'value1', 'k2':'value2'}

In [2]:
my_dict

{'k1': 'value1', 'k2': 'value2'}

In [4]:
my_dict['k1']

'value1'

In [5]:
# Dictionary inside a dictionary

d = {'K1':123, 'K2':[0,1,2], 'K3':{'InsideKey':100}}

In [7]:
d['K2']

[0, 1, 2]

In [9]:
d['K3']

{'InsideKey': 100}

In [10]:
d['K3']['InsideKey']

100

In [11]:
# Can also call by stack

d['K2'][2]

2

In [12]:
#Another Example

d = {'Key1':['a','b','c']}
# Grab "C" then make it uppercase

my_list = d['Key1']

letter = my_list[2]

letter.upper()

'C'

In [13]:
# The above process in a single keyword

In [14]:
d['Key1'][2].upper()

'C'

In [15]:
d

{'Key1': ['a', 'b', 'c']}

In [16]:
# Adding new values

d = {'K1':123, 'K2':[0,1,2], 'K3':{'InsideKey':100}}

d['K3'] = 'Akshay'

In [17]:
d

{'K1': 123, 'K2': [0, 1, 2], 'K3': 'Akshay'}

In [18]:
#same for overwrite

d['K1'] = 'Monkey'

In [19]:
d

{'K1': 'Monkey', 'K2': [0, 1, 2], 'K3': 'Akshay'}

In [20]:
# Show all Keys

d.keys()

dict_keys(['K1', 'K2', 'K3'])

In [21]:
# Show all Values

d.values()

dict_values(['Monkey', [0, 1, 2], 'Akshay'])

In [22]:
# Show all pairings


d.items()

dict_items([('K1', 'Monkey'), ('K2', [0, 1, 2]), ('K3', 'Akshay')])

TUPLES ON PYTHON

In [23]:
t = (1,2,3)

In [24]:
my_list = [1,2,3]

In [25]:
type(t)

tuple

In [26]:
len(t)

3

In [27]:
t[0]

1

In [28]:
t[-1]

3

In [30]:
# supported functions

t = ('a','a','b')

t.count('a')   # Counts how many time a occurs

2

In [32]:
t.index('b')   # Give the index position of given element

2

In [33]:
# Immutability


my_list[0] = 'NEW'

In [34]:
my_list

['NEW', 2, 3]

In [35]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

SETS

In [36]:
myset = set()

In [37]:
myset

set()

In [38]:
myset.add(1)

In [39]:
myset

{1}

In [40]:
myset.add(2)
myset.add(3)

In [41]:
myset

{1, 2, 3}

In [42]:
myset.add(3)

In [43]:
myset

{1, 2, 3}

In [44]:
# It remains unchanges because it accepts only unique values no duplicates

In [45]:
my_list = [1,1,1,1,1,3,3,3,4,4,4,4,4,1,2]

In [46]:
set(my_list)

{1, 2, 3, 4}

In [47]:
my_list

[1, 1, 1, 1, 1, 3, 3, 3, 4, 4, 4, 4, 4, 1, 2]

In [48]:
my_list = set(my_list)

In [49]:
my_list

{1, 2, 3, 4}

In [50]:
my = [1,2,3]

In [51]:
my

[1, 2, 3]

In [52]:
t = (1,2,my)

In [53]:
t

(1, 2, [1, 2, 3])

In [54]:
t = (my)

In [55]:
t

[1, 2, 3]