WHILE LOOP

In [3]:
x = 0

while x<5:
    print(f'The current value of x is {x}')
    x=x+1
    x+=1

The current value of x is 0
The current value of x is 2
The current value of x is 4

In [5]:
# Using Pass

x=[1,2,3]

for items in x:
    pass
print('End of the fucking world')

End of the fucking world

In [12]:
# Prints 'Akshay' with out "y"

myString = 'Akshay'

for letter in myString:
    if letter == 'y':
        continue
    print(f'{letter}',end='')

Aksha

In [13]:
# Using break

for letter in myString:
    if letter == 'k':
        break
    print(f'{letter}',end='')

A

In [14]:
# using break and while

x = 0

while x<5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [17]:
# range operator



for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [18]:
for num in range(3,10):  # adding start and stop
    print(num)

3
4
5
6
7
8
9

In [19]:
# Step Size

for num in range(3,11,2):
    print(num)

3
5
7
9

In [20]:
range(3,11,2)

range(3, 11, 2)

In [21]:
list(range(3,11,2))

[3, 5, 7, 9]

In [22]:
my_list = list(range(3,11,2))

In [23]:
my_list

[3, 5, 7, 9]

In [24]:
# enumerate function

index_count = 0

for letter in 'abcde':
    print('At index{} the letter is {}'.format(index_count,letter))
    index_count += 1

At index0 the letter is a
At index1 the letter is b
At index2 the letter is c
At index3 the letter is d
At index4 the letter is e

In [25]:
# Inorder to print each letter

index_count =0

word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [27]:
# Using enumerate function

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [28]:
# Using tuple unpacking

for keys,values in enumerate(word):
    print(keys)
    print(values)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [30]:
# Zip Function

myList1 = [1,2,3,4]
myList2 = ['a','b','c']
myList3 = [100,200,300]

for item in zip(myList1,myList2,myList3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [31]:
# In order to save a zipped list

my_list = list(zip(myList1,myList2,myList3))

In [32]:
my_list

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [33]:
# in operator

'x' in [1,2,3]

False

In [34]:
'x' in 'Fox'

True

In [35]:
'x' in ['a','b','c']

False

In [36]:
'x' in ['a','b','x']

True

In [37]:
'mykey' in {'mykey':354}

True

In [38]:
d = {'mykey': 345}
345 in d.values()

True

In [39]:
# min and max function

myList = [1,2,4,5,7,8,99,18]

In [40]:
min(myList)

1

In [41]:
max(myList)

99

Built in Libraries in python

In [42]:
from random import shuffle

In [43]:
myList = [1,2,4,5,7,8,99,18]
shuffle(myList)

In [44]:
myList

[4, 99, 7, 5, 2, 18, 8, 1]

In [45]:
random_list = myList

In [46]:
random_list

[4, 99, 7, 5, 2, 18, 8, 1]

In [47]:
from random import randint

randint(0,100)

65

In [48]:
myNum = randint(0,10)

In [49]:
myNum

6

In [50]:
## ACCEPT USER INPUT

input('Enter a number Here: ')

Enter a number Here: 89

'89'

In [51]:
result = input('Enter a number Here: ')

Enter a number Here: 67

In [52]:
result

'67'

In [53]:
float(result)

67.0

In [54]:
int(result)

67

In [55]:
# in a single step

result = int(input('Favorite Number:'))

Favorite Number:34

In [56]:
type(result)

int

In [57]:
result

34

LIST COMPREHENSIONS

In [1]:
myString = 'hello'

In [2]:
# To make a list with the letters in above string

myList = []

for letter in myString:
    myList.append(letter)

In [3]:
myList

['h', 'e', 'l', 'l', 'o']

In [4]:
# We are gonna save some lines by doing the same using List comprehensions

myList = [letter for letter in myString]

# No need the colon as there is nothing following

In [5]:
myList

['h', 'e', 'l', 'l', 'o']

In [6]:
# Another example

myList = [x for x in 'word']

In [7]:
myList

['w', 'o', 'r', 'd']

In [8]:
# Another One

myList = [ num for num in range(0,11)]

In [9]:
myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# If we want the square of that number 

myList = [num**2 for num in range(0,11)]

In [11]:
myList

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# If we want only the square of even no

myList = [num**2 for num in range(0,11) if num%2 == 0]

In [13]:
myList

[0, 4, 16, 36, 64, 100]

In [14]:
# Quick prgrm to convert a list of given temperature data in 
# Degree Celcius to Fahrenheit

# formula:  [(9/5)*temp + 32]

celcius = [0, 10, 20, 34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [15]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [19]:
# Also in conventional Way

fahrenheit = []

for temp in celcius:                        
    fahrenheit.append((9/5)*temp + 32)

In [20]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [21]:
# Nested loops

myList = []

for x in [2,3,4]:
    for y in [1,10,100]:
        myList.append(x*y)

In [22]:
myList

[2, 20, 200, 3, 30, 300, 4, 40, 400]

In [23]:
myList1 = [x for x in myList if x%100 == 0 ]

In [24]:
myList1

[200, 300, 400]

In [25]:
myList = [x.lower() for x in 'APPU']

In [26]:
myList

['a', 'p', 'p', 'u']