In [5]:
myList = [1, 2, 3]
print(myList[-3])

1

In [6]:
def sum(a, b):
    return a+b
    
sum(12654, 12992)

25646

In [12]:
def sumInLoop(n, sumList):
    sum = 0
    for num in sumList:
        sum+=int(num)
    return sum

    

sumList = "1088 923 993 1254 804 1136 567 1121 1029 310 700 581 200 278 531 268 1221 719 1253 1041 30 1182 46 416 844 824 276 624 1035 161 686".split()

print(sumInLoop(31, sumList))

22141

Now we are given several pairs of values and we want to calculate sum for each pair.

Input data will contain the total count of pairs to process in the first line.
The following lines will contain pairs themselves - one pair at each line.
Answer should contain the results separated by spaces.

11
492809 258078
429883 437021
547343 176995
883233 999130
195142 184562
278519 456569
814801 583917
570533 148749
185259 318852
458834 25373
931237 453471

In [29]:
# assuming the data as srings 11 pair(total 24 values).

n = 11

data = "492809 258078 429883 437021 547343 176995 883233 999130 195142 184562 278519 456569 814801 583917 570533 148749 185259 318852 458834 25373 931237 453471"

def sumsInLoop(n, data):
    dataList = [int(num) for num in data.split()]
    sumList = [dataList[i]+dataList[i+1] for i in range(0,2*n,2)]
    return ' '.join([str(number) for number in sumList])

print(sumsInLoop(n, data))

750887 866904 724338 1882363 379704 735088 1398718 719282 504111 484207 1384708

In [26]:
def descending_order(num):
    # Bust a move right here
    digit = ''.join(sorted([n for n in str(num)], reverse=True))
    print(digit)
descending_order(2589)

9852

In [43]:
def high_and_low(numbers):
    # ...
    numbers = sorted([int(n) for n in numbers.split()], reverse=True)
    numbers = ' '.join([str(numbers[0]), str(numbers[-1])])
    return numbers
print(high_and_low("4 5 29 54 4 0 -214 542 -64 1 -3 6 -6"))

542 -214

In [45]:
def high_and_low(numbers):
    numbers = [int(n) for n in numbers.split()]
    numbers = f'{max(numbers)} {min(numbers)}'
    return numbers
print(high_and_low("4 5 29 54 4 0 -214 542 -64 1 -3 6 -6"))

542 -214

In [21]:
def rupeeCommaInsert(num):
    myList = list(str(num))
    i = len(myList) - 3

    while(i > 0):
        myList.insert(i, ',')
        i -= 2

    return ''.join(myList)
print(rupeeCommaInsert(10000))

10,000

In [24]:
def rupeeCommaInsert(num):
    myList = list(str(num))

    for i in range(len(myList) - 3, 0, -2):
        myList.insert(i, ',')
    # i = len(myList) - 3

    # while(i > 0):
        
    #     i -= 2
    return ''.join(myList)


print(rupeeCommaInsert(5000))

5,000

In [50]:
def is_square(n):
    return n >= 0 and (n ** (1/2)) == int(n ** (1/2))
    # print(type(n ** (1/2)))
    # print(int(n ** (1/2)))
    # print(n ** (1/2) - int(n ** (1/2)))
    # return n ** (1/2)

# is_square(0)
# is_square(25)
# is_square(26)
# is_square(-1)
# is_square(3)

False

In [65]:
def accum(s):
    return '-'.join([(letter.upper() + letter.lower()*index) for index, letter in enumerate(list(s))])

accum("abcd")  # -> "A-Bb-Ccc-Dddd"
accum("RqaEzty")  # -> "R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy"
# accum("cwAt")  # -> "C-Ww-Aaa-Tttt"

'R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy'

In [1]:
x = 10

x = x / 2

print(x)

5.0

In [2]:
x /= 2

print(x)

2.5

In [12]:
x = 9

x //= 5

print(x)

1

In [15]:
def your_age(age):
    return f"You are {age} years old!"

answer = your_age(46)
file_name = input("Enter a file name:")
file_name = f"{file_name}.py"
with open(file_name, "w") as f:
    f.write(f"print(\"{answer}\")")
    f.close()

In [4]:
your_age(32)

&#39;You are 32 years old&#39;